@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: aktiv-grotesk, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg: #f2f2f2;
	/* --color-bg: #ffffff; */
	--color-theme-1: #ff4500;
	--color-theme-2: #7ccc81;
	--color-theme-3: #bec1c2;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 700;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	line-height: 1;
	text-align: center;
}

h2 {
	color: var(--color-text);
	font-size: 1rem;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		/* font-size: 2.4rem; */
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
